<!DOCTYPE html>

<html>
    <head>
      <title>Timestamp Microservice</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
    </head>

  <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <div class="test-links">
        <a href="api/2015-12-25">Tester Link Using Date</a>
        <a href="api/1451001600000">Tester Link Using Unix</a>
      </div>
      <div>
        <p>Example Output:</p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </div>
      <div class="output"></div>
    </div>
    <div class="footer">
      <p>developed by marjoree e. f.</p>
    </div>
  </body>
</html>
